<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF___Zoo_Project.Properties.Settings.PanjutorialsDBConnectionString"
            connectionString="Data Source=WINDOWS-S7K14G7;Initial Catalog=PanjutorialsDB;User ID=sa;Password=Matthew16021!;Pooling=False;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>


